/* Style the header */
.header {
  background-color: #E3FDFD;
  padding: 20px;
  text-align: center;

}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #E3FDFD;
}
/* Style the Body */
.column.left {
  text-align: left;
}
/* Style the Body */
.column.middle {
  text-align: center;
}

/* Style the footer */
.footer {
  background-color: #E4F9F5;
  padding: 10px;
  text-align: left;
}

/* Style the row */
.row {
  background-color: #E3F6F5;
  padding: 10px;
  text-align: left;
}

a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  font-size: 120%;
  color: hotpink;
  border: 1px solid #777;
}


div {
  text-align: right;
}

input[type=Submit],
button {
  background-color: #04AA6D;
  border: outset;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  text-decoration-thickness: 25%;
  margin: 4px 2px;
  cursor: pointer;
}